@model List<RentingGown.Models.Gowns>
@{
    ViewBag.Title = "ShowBasket";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!-- Bootstrap -->
<link href="~/Content/line-awesome.min.css" rel="stylesheet" />
<!-- Icons -->
<link href="~/Content/style.css" rel="stylesheet" />
<!-- Style -->
<link href="~/Content/responsive.css" rel="stylesheet" />
<!-- Responsive -->
<link href="~/Content/colors/colors.css" rel="stylesheet" />
<!-- color -->
<section>
    <div class="block gray" style="margin-top: 4%;">
        <div class="container">
            <div class="row">
                <div class="col-md-9 column">
                    <div class="grids-listings">
                        <h1>סל הבגדים שלי</h1>
                        <div class="row" id="SearchContent">
                            @{
                                if (Model.Count == 0)
                                {
                                    <h3>סל הבגדים ריק.</h3>
                                }
                                foreach (RentingGown.Models.Gowns item in Model)
                                {

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="listing-box">

                                            <div class="listing-box-thumb">
                                                <a href="/Gowns/RemoveFromBasket?id=@item.id_gown"><span class="price-list"><span class="glyphicon glyphicon-trash"></span> הסר</span></a>
                                                <img src="~/Images/@item.picture" alt="" />
                                                <div class="listing-box-title">
                                                    <span>מחיר: @item.price</span>
                                                    <span>מידה: @item.size</span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                }
                               
                                <a href="/Gowns/Search" style="position: absolute;width:40%;"><span class="price-list">לחזרה לדף החיפוש</span></a><br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
